<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond $1 !^(index\.php|js|css|images|bin)
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>